<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
  <title>BeerJeeves</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
